<p>Contenu de twig /inclus.html.twig</p>

{% if test is defined %}
<p>le fichier inclus a acceès à la variable test qui vaut : {{ test }}</p>
{% else %}
<p>le fichier inclus na pas acceès à la variable test </p>
{% endif %}

{% if foo is defined %}
<p>le fichier inclus a acceès à la variable foo qui vaut : {{ foo }}</p>
{% else %}
    <p>le fichier inclus na pas acceès à la variable foo </p>
{% endif %}